{% extends 'sign-inner.html' %}

{% block sign_inner %}
            <form class="form-horizontal">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <input class="form-control" type="text" name="username" placeholder="用户名/电子邮件">
              </div>
              <div class="input-group btn-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="验证中...">发送重置邮件</button>
              </div>
            </form>
{% endblock %}